
<div class="row mt-2">
  <div class="col">
    <img src="assets/logo_avm.gif" alt="logo AAVM">
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <div class="jumbotron">
      <h1 class="display-6">Bienvenue à l'AVM</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim scelerisque aliquam.</p>
      <hr class="my-4">
      <p>Ce jeu interactif vous permet d'en apprendre plus sur l'exposition. Retrouvez les réponses dans toute l'exposition. <br>
        Chaque réponse est numérotée, il vous suffit de rentrer le numéro correspondant !</p>
      <a class="btn btn-success btn-lg" [routerLink]="['question', 1]" role="button">Lancer le jeu !</a>
    </div>
  </div>
</div>

